body{
    background-color: #F3F3F5;
    width: 1024px;
}
.container {
    width: 500px;
    margin-left: 262px;
    padding-bottom: 282px;
}
.header {
    color: #010101;
    font-family: Arial sans-serif;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.photo {
    width: 202px;
    height: 202px;
    margin: 0 auto;
    background-image: url("../img/img2.png");
    background-size: cover;
    border: 1px solid gray;
}
.student {
    opacity: 0.8;
    color: #1f1f1f;
    font-family: Arial sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 25px;
    text-align: left;
}
.line {
    width: 500px;
    height: 1px;
    opacity: 0.22;
    background-color: #1f1f1f;
    margin: 20px auto;
}
.wishes,.cont_fb,.vk{
    font-family: Myriad Pro sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
}
.list, .number, .link, .fb {
    font-family: Myriad Pro sans-serif;
    font-size: 14px;
}

.wishes{
    color: #1f1f1f;
}
.cont_fb{
    color: #3a3a3a;
}
.vk {
    color: #1f1f1f;
}
.number, .fb {
    color: #3a3a3a;
    font-weight: 400;
    margin-bottom: 20px;
    margin-left: 36px;
}
.number {
    margin-top: 5px;
}

.list {
    list-style-type: disc;
    color: #3b3b3b;
    font-weight: 400;
    line-height: 18px;
    margin-left: 36px;
   }
.link{
    color: rgb(0, 86, 211);
    font-weight: 400;
    text-decoration: underline;
    font-style: italic;
    margin-left: 36px;
}

